:root {
    --header-background-color: #FFFFFF;
    --first-title-color: #212121;
    --second-title-color: #757575;
    --hero-footer-color: #2F303A;
    --background-color: #F5F5F5;
    --logo-color: #000000;
    --blue-text-backgrounds: #2196F3;
    --second-btn-color: #F5F4FA;
    --hover-btn-color: #188CE8;
}