.body-title {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.666;
    color: var(--first-title-color);
}

.hero-uptitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.hero-subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}