.page .line {
    border-bottom: 1px solid #ececec;
}

.portfolio-hero {
    background-color: var(--header-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-image {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-image-link {
    text-decoration: none;
    display: block;
}

.portfolio-image-link:hover,
.portfolio-image-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-container {
    padding: 20px 24px;
    background-color: var(--header-background-color);
    border: 1px solid #eeeeee;
    border-top: 0;
    cursor: pointer;
    display: block;
}

.portfolio-image-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--first-title-color);
    letter-spacing: 0.06em;
}

.portfolio-image-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--second-title-color);
}

.portfolio-image-text {
    position: absolute;
    top: 0;
    height: 100%;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--header-background-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-image-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-image-link:hover .portfolio-image-text,
.portfolio-image-link:focus .portfolio-image-text {
    transform: translateY(0);
}